<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Zen+Old+Mincho:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/home-style2.css ">
    <link href="https://fonts.googleapis.com/css2?family=Zen+Old+Mincho:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>    
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto:wght@100&family=Zen+Old+Mincho:wght@700&display=swap" rel="stylesheet">
    <title>|HOY COCINAMOS|</title>
  
</head>
<body>
    <header>
        <div class="top-header">
            <div class="header-logo">
                
                <h2>HOY COCINAMOS</h2>
            </div>   
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div> 
        </div>
        <div class="nav-bar">
            <ul class="nav-ul">
                <a class= 'navA-1' href="#inicio">INICO</a>
                <a class= 'navA-2' href="#menu">MENU</a>
                <a class= 'navA-3' href="#quienes-somos">QUIENES SOMOS</a>
                <a class= 'navA-4' href="#contacto">CONTACTO</a>                
            </ul>
        </div>
        <div class="nav-bar2">
            <ul class="nav-ul2">
                <a class= 'navB-1' href="#inicio">INICO</a>
                <a class= 'navB-2' href="#menu">MENU</a>
                <a class= 'navB-3' href="#quienes-somos">QUIENES SOMOS</a>
                <a class= 'navB-4' href="#contacto">CONTACTO</a>                
            </ul>
        </div>
    </header>
    <a href="https://wa.me/5491154691999">
        <div class = 'chat-wpp'>
    
          <p>¡Hace tu pedido por WhatsApp!</p>
          <img  src="images/chat-wpp.png" alt="" data-image-width="1000" data-image-height="1000" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="Up">
          
        </div>
      </a>
    <main>
        <section id= 'inicio'class="inicio ">
            <a href=""><img src="images/rotiseria.png" alt=""></a>
        
        </section>
      <div class="div1">
        <div id = 'menu'></div>
        <section class="menu fade">
            <h1 class="fade">Menu</h1>
            
            <div class="lista-menu fade">
                <div class="lista-menu" style="padding-bottom: 20px;">
                    <h3>POLLO AL SPIEDO A LAS BRASAS </h3>
                <p>+</p>
                <h3>MONTÓN DE PAPAS FRITAS</h3>
                <p>+</p>                     
                <h3>ENSALADA</h3>                                             
                <p>+</p>   
                <h3> 3 SALSAS </h3>                  
                <p>+</p>   
                <h3>PAN</h3>
                <h3>¼…………………………$600</h3>
                <h3>½…………………………$800</h3>       
                <h3>ENTERO………………$1300</h3>   
                </div>  
                <div class="combo">
                    <h3 style="text-decoration: underline;">CHAUFA</h3>
                    <p>Arroz salteado con pollo, cebolla, pimientos,
                        y tortilla</p>
                    <p> de huevo picada..………….$700</p>
                        <p>Mixto…………………………$800</p>
    
                </div>
                <div class="combo">
                    <h3 style="text-decoration: underline;">LOMO SALTADO</h3>
                    <p>Tiras anchas salteadas con cebolla,
                        tomate, morrones, con bastones de papas fritas.
                        Acompañado con arroz graneado……………..….$790</p>
    
                </div>
                <div class="combo">
                    <h3 style="text-decoration: underline;">SECO DE CORDERO</h3>
                    <p>Trozos de cordero salpimentado, dorados con cebolla,ajo, y
                        ají. Cilantro, zanahoria, arvejitas, papa y arroz …..$790</p>
    
                </div>

                <div class="combo">
                    <h3 style="text-decoration: underline;">PAPA A LA HUANCAINA</h3>
                    <p>Papas blancas cocidas, cortadas en rodajas, huevo en gajos, y hojas de lechuga. Bañadas con crema, queso fresco,
                        cebolla salteada y aji amarillo………………....………...$490</p>
                <div class="combo">
                            <h3 style="text-decoration: underline;">AJÍ DE GALLINA</h3>
                            <p>Pollo deshilachado, con cebolla, ajos y ají dorados. Bañados con queso parmesano. Con timbal de arroz…………..……..$690</p>
            
                </div>
                </div>
                
               
                                                                 
                                                        
                                                                                   
                                                               
 </h3>
            </div>
            <!-- <div>
                
                <a href="/menu-aqui-peru.pdf">
                    <img src="/images/menu.jpg" alt="">
                    <p>MENU</p>
                    

                    
                    </a>
            </div> -->

       
                
           
    </section>
      </div>
      <div class="div2">
        <div id = 'quienes-somos'></div>
        <section class="quienes-somos fade">
            <h1 class="hideme fade">¿Quienes Somos?</h1>
            <p class="fade">Te invitamos a saborear el sabor típico de la cultura culinaria peruana, preparado por manos limeñas, con mucho amor y la mejor calidad en cada producto. Los platos más deliciosos de la cultura, aquí los vas a encontrar.  Te traemos el Pollo a las brasas, acompañado por una porción gigante de papas fritas,  ensalada de 5 gustos, y 3 salsas, dos para la ensalada y una picosa para condimentar. Nuestro deseo es transportarte al genuino sabor de la comida peruana, adaptada al paladar argentino, Aqui Peru.</p>
                
        </section>
      </div>
    </main>
    <footer id='contacto'>
        <div class="direccion">
            <h5>DIRECCION</h5>
            <p>Monroe 1785</p> 
        </div>
        <div class="follow-us">
            <h5>SEGUINOS</h5>
            <a href="https://www.instagram.com/aquiperu.peruano/"><i class="fab fa-instagram"></i></a>       
        </div>
    </footer>
    
    <script src="javascripts/home.js"></script>
    
</body>
</html>