html,body{
  overflow-x: hidden;
}
.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/a8a8ffde5a324d38902dbe89d8766452.jpeg");
  background-position: 50% 50%;
  min-height: 919px;
}

.u-section-1 .u-group-1 {
  min-height: 919px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}


.chat-wpp {
  flex-direction: row;
  display: flex;
  position: fixed;
  margin-top: 740px;
  z-index: 1;
  background-color: green;
  width: 192px; 
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
 
    box-shadow: 0 10px 30px -12px rgb(0 0 0 / 42%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);

}
.chat-wpp p{
  text-align: center;
  font-size: small;
  text-decoration: none;
  color: white;
}
.chat-wpp img{
  width: 42%;
  height: 42%;
  padding: 18px;
  animation-duration: 1000ms;
  
  
}


.u-section-1 .u-container-layout-1 {
  margin-bottom: 0;
}

.u-section-1 .u-shape-1 {
  width: 450px;
  height: 450px;
  margin: 698px auto 0;
}

.u-section-1 .u-group-2 {
  width: 690px;
  min-height: 423px;
  background-image: none;
  margin: -671px auto 248px calc(((100% - 1140px) / 2) + 225px);
}

.u-section-1 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  animation-duration: 1000ms;
  font-family: Poppins;
  margin: 40px 20px;
}

@media (max-width: 1199px) {
  .chat-wpp{
    margin-top: 606px;
  }
  .u-section-1 .u-group-1 {
    background-position: 50% 50%;
    margin-left: initial;
  }

  .u-section-1 .u-group-2 {
    margin-left: calc(((100% - 940px) / 2) + 225px);
    width: 509px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin: 25px 16px;
  }
  
}

  @media (max-height: 360px) {
      .chat-wpp{
        margin-top: 186px;
      }
  }
@media (max-width: 991px) {
  .u-section-1 .u-group-2 {
    margin-left: calc(((100% - 720px) / 2) + 30px);
  }

  .u-section-1 .u-text-1 {
    margin: 40px 13px;
  }
  .u-section-1 .u-group-2 {
    width: 690px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-2 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-1 {
    margin: 25px 9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    margin-top: 0;
    margin-bottom: 0;
    min-height: 920px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    height: 340px;
    margin-bottom: -119px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/dd4241750a8bbf0d2f35f15bb55ddb3c.jpeg");
  background-position: 50% 50%;
  min-height: 920px;
}

.u-section-2 .u-group-1 {
  min-height: 504px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-container-layout-1 {
  margin-bottom: 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: -540px auto 0 180px;
}

.u-section-2 .u-layout-cell-1 {
  background-image: none;
  min-height: 354px;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-image-1 {
  width: 164px;
  height: 164px;
  background-image: url("images/3171d7e785a81496bc0e8310b3d17de3.jpeg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: 12px auto 0;
}

.u-section-2 .u-text-1 {
  text-transform: none;
  margin: 32px 20px 0;
}

.u-section-2 .u-layout-cell-2 {
  background-image: none;
  min-height: 354px;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-image-2 {
  width: 164px;
  height: 164px;
  background-image: url("images/9ca7748fb65d839c51dee7201c514ce9.jpeg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: 12px auto 0;
}

.u-section-2 .u-text-2 {
  text-transform: none;
  margin: 32px 20px 0;
}

.u-section-2 .u-layout-cell-3 {
  background-image: none;
  min-height: 354px;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-image-3 {
  width: 164px;
  height: 164px;
  background-image: url("images/7f9d835baa63dc5b65349d66ad048a96.jpeg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: 53px auto 0;
}

.u-section-2 .u-text-3 {
  text-transform: none;
  margin: 32px 20px 30px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 354px;
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-image-4 {
  width: 164px;
  height: 164px;
  background-image: url("images/4d5c47276771815f2c8e0f5db9b245f2.jpeg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: 53px auto 0;
}

.u-section-2 .u-text-4 {
  text-transform: none;
  margin: 32px 20px 0;
}

.u-section-2 .u-group-2 {
  width: 892px;
  min-height: 169px;
  margin: -513px auto 560px calc(((100% - 1140px) / 2) + 124px);
}

.u-section-2 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-5 {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0;
  animation-duration: 1000ms;
}

.u-section-2 .u-text-6 {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  animation-duration: 1000ms;
}

.u-section-2 .u-group-3 {
  width: 100%;
  min-height: 178px;
  animation-duration: 1000ms;
  margin: 20px 358px 0 auto;
}
.u-section-2 .u-container-layout-7 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 38px auto 15px;
}

.u-section-2 .u-text-7 {
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 943px;
  }

  .u-section-2 .u-group-1 {
    min-height: 437px;
    background-position: 50% 50%;
    margin-left: initial;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-left: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 286px;
  }

  .u-section-2 .u-image-1 {
    width: 135px;
    height: 135px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 286px;
  }

  .u-section-2 .u-image-2 {
    width: 135px;
    height: 135px;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 286px;
  }

  .u-section-2 .u-image-3 {
    width: 135px;
    height: 135px;
    margin-top: 12px;
  }

  .u-section-2 .u-text-3 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 286px;
  }

  .u-section-2 .u-image-4 {
    width: 135px;
    height: 135px;
    margin-top: 12px;
  }

  .u-section-2 .u-text-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-group-2 {
    width: 736px;
    margin-top: -445px;
    margin-left: calc(((100% - 940px) / 2) + 102px);
  }
  

  .u-section-2 .u-text-5 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-2 .u-text-6 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 1211px;
  }

  .u-section-2 .u-group-1 {
    min-height: 1007px;
    margin-left: initial;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 625px;
    margin-top: -766px;
    margin-left: calc(((100% - 720px) / 2) + 48px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 245px;
  }

  .u-section-2 .u-image-1 {
    width: 104px;
    height: 104px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 245px;
  }

  .u-section-2 .u-image-2 {
    width: 104px;
    height: 104px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 245px;
  }

  .u-section-2 .u-image-3 {
    width: 104px;
    height: 104px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 245px;
  }

  .u-section-2 .u-image-4 {
    width: 104px;
    height: 104px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-group-2 {
    width: 564px;
    margin-top: -687px;
    margin-left: auto;
    margin-bottom: 577px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }


}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 1702px;
  }

  .u-section-2 .u-group-1 {
    min-height: 1191px;
    margin-left: initial;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 442px;
    margin-top: -1279px;
    margin-right: calc(((100% - 540px) / 2) + 49px);
    margin-left: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 228px;
  }

  .u-section-2 .u-image-1 {
    width: 97px;
    height: 97px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 228px;
  }

  .u-section-2 .u-image-2 {
    width: 97px;
    height: 97px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 228px;
  }

  .u-section-2 .u-image-3 {
    width: 97px;
    height: 97px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 228px;
  }

  .u-section-2 .u-image-4 {
    width: 97px;
    height: 97px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-group-2 {
    width: 540px;
    margin-top: -1052px;
    margin-bottom: 1280px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-group-3 {
    width: 100%;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 6px;
    margin-right: 6px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 1589px;
  }

  .u-section-2 .u-group-1 {
    min-height: 1597px;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 295px;
    margin-top: -1689px;
    margin-right: auto;
  }

  .u-section-2 .u-image-1 {
    width: 82px;
    height: 82px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-image-2 {
    width: 82px;
    height: 82px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-image-3 {
    width: 82px;
    height: 82px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-image-4 {
    width: 82px;
    height: 82px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-group-2 {
    width: 340px;
    margin-top: -1083px;
    margin-bottom: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-group-3 {
    width: 100%;
    margin-top: 10px;
    margin-left: auto;
    margin-bottom: 60px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 30px;
    
    margin-bottom: 0;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin: 30px 0 0;
  }
}.u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/692cd0029be0f2df4e0a5434e38c39a0.jpeg");
  background-position: 50% 50%;
  min-height: 919px;
}

.u-section-3 .u-group-1 {
  min-height: 919px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-3 .u-container-layout-1 {
  margin-bottom: 0;
}

.u-section-3 .u-text-1 {
  margin: 333px auto 0;
  width: 80%;
  text-align: center;
}

.u-section-3 .u-group-2 {
  width: 690px;
  min-height: 423px;
  background-image: none;
  margin: -401px auto 0;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-2 {
  font-size: 3rem;
  animation-duration: 1000ms;
  margin: 40px 20px;
}

.u-section-3 .u-shape-1 {
  width: 450px;
  height: 450px;
  margin: 311px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    background-position: 50% 50%;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    position: relative;
    margin: 25px 16px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    margin: 40px 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 952px;
  }

  .u-section-3 .u-group-2 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    margin: 25px 9px;
  }
}

@media (max-width: 575px) {

  .u-section-3 {
    margin-top: 0;
    margin-bottom: 0;
    min-height: 1102px;
  }

  .u-section-3 .u-group-1 {
    min-height: 1102px;
    width: 379px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
    margin-top: 348px;
  }

  .u-section-3 .u-group-2 {
    width: 340px;
    margin-top: -448px;
  }

  .u-section-3 .u-text-2 {
    font-size: 2.25rem;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-shape-1 {
    width: 340px;
    height: 340px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 550px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 70px auto 50px 0;
}

.u-section-4 .u-layout-cell-1 {
  background-image: none;
  min-height: 250px;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-1 {
  text-transform: none;
  font-size: 2.25rem;
  margin: 25px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  margin: 40px 0 25px;
}

.u-section-4 .u-layout-cell-2 {
  background-image: none;
  min-height: 250px;
}

.u-section-4 .u-container-layout-2 {
  padding-right: 0;
}

.u-section-4 .u-text-3 {
  text-transform: none;
  font-size: 2.25rem;
  margin: 25px 20px 0;
}

.u-section-4 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 188px;
  min-width: 124px;
  margin: 23px auto 0 20px;
}

.u-section-4 .u-icon-1 {
  height: 100%;
}

.u-section-4 .u-icon-2 {
  height: 100%;
}

.u-section-4 .u-icon-3 {
  height: 100%;
}

.u-section-4 .u-icon-4 {
  height: 100%;
}

.u-section-4 .u-text-4 {
  font-size: 1.25rem;
  margin: 32px 20px 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 628px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 281px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-1 {
    position: relative;
  }

  .u-section-4 .u-text-2 {
    position: relative;
    margin-bottom: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 307px;
  }

  .u-section-4 .u-text-3 {
    position: relative;
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-social-icons-1 {
    margin-left: 16px;
  }

  .u-section-4 .u-text-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 536px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 237px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 259px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.875rem;
    margin-top: 23px;
    margin-right: 5px;
    margin-left: 20px;
  }

  .u-section-4 .u-social-icons-1 {
    margin-left: 20px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 5px;
    margin-bottom: 0;
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1077px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 219px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 234px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-social-icons-1 {
    margin-left: 9px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1009px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 221px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 232px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-social-icons-1 {
    margin-left: 6px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }
}
@media (max-height: 719px) {
  .chat-wpp{
    margin-top: 446px;
  }